header {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
  text-align: center;
}
body {
    font-family: 'Old Standard TT', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:DEB887;
    background-image: url("bg.png");
    background-repeat: repeat;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
	border: 5px solid DEB887;
	border-radius: 50%;
  align: center;
  margin-bottom: 20px
}

h1 {
  text-align: center;
	font-size: 60px;
	margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
	font-size: 40px;
	margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ol {
  display: inline;
  background-color: FFEFD5;
  font-size: 20px;
  list-style: square inside url("sqpurple.gif");
}

ul {
  display: inline;
  text-align: center;
  margin: 5px;
}

p {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
